#container{border: solid 1px red; width: 25%; float: right; padding: 30px 20px;}

header{margin-bottom: 30px; font-size: 15pt; font-weight: bold;}
#logo{width: 30px; margin-right: 15px; float: left;}

#timeSetting{margin: 0 20px;}
#timeInput{width: 65%; margin-right: 15px; float: left; padding-left: 30% !important; font-size: 16pt !important; font-weight: bold !important;}
.button{width: 30% !important;}

