#container{
  border: solid 1px #FB2A2A;
  width: 25%;
  height: 100%;
  float: right;
  padding: 30px 20px;
  display: inline-block;
  text-align: center;
  background-color: white;
}

header{
  margin-bottom: 30px;
  font-size: 15pt;
  font-weight: bold;
  text-align: left;
}
#logo{
  width: 30px;
  margin-right: 15px;
  float: left;
}

#timeSetting{
  margin: 0 20px;
}
#timeInput{
  width: 65%;
  margin-right: 15px;
  float: left;
  padding-left: 30% !important;
  font-size: 16pt !important;
  font-weight: bold !important;
}
.button{
  width: 30% !important;
}


#clockContainer{
  margin: 50px auto;
  width: 250px;
  height: 250px;
}
#mainClock{
  border-radius: 50%;
  position: relative;
}
.line1{
  border-top: 2px solid black;
  width: 250px;
  position: absolute;
  margin-top: 50%;
  z-index: 1;
}
.line2{
  border-top: 2px solid black;
  width: 250px;
  position: absolute;
  margin-top: 50%;
  z-index: 3;
}
.centerCircle{
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 50%;
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
#centerCircle1{
  width: 230px;
  height: 230px;
  z-index: 2;
}
#centerCircle2{
  width: 200px;
  height: 200px;
  z-index: 4;
}
#centerCircle3{
  width: 30px;
  height: 30px;
  z-index: 5;
  background-color: white;
  border: 1px solid black;
}
#centerCircle4{
  width: 20px;
  height: 20px;
  z-index: 7;
  background-color: #FB2A2A;
  border: 1px solid black;
}
#timerCircle{
  width: 240px;
  height: 240px;
  z-index: 6;
  background-color: #ff8282;
  opacity: 0.5;
}


#recodes{
  width: 90%;
  float: right;
  display: inline-block;
  background-color: #FB2A2A;
  height: 35px;
  padding: 0 20px;
  margin-right: 5%;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  color: white;
}
#recodes span{
  line-height: 30px;
}
.listDetail{
  float: right;
  font-weight: bold;
  color: white;
}
