<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <link href="../index.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div id="container">
        <header>
            <img id="logo" src="../image/logo.jpg"/>TimeTimer
        </header>
        <div id="timeSetting">

        </div>
        <div id="timer">

        </div>
    </div>
</body>
</html>