<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="../index.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a60dfffdc8.js" crossorigin="anonymous"></script>
<script src="../index.js"></script>

<script>
    $(function(){
        $("span#stop").hide();
        $("span#restart").hide();
        $("img#up").hide();
        func_clock();
    })
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container">
        <header>
            <img id="logo" src="../image/logo.jpg"/>TimeTimer
        </header>
        <div class="input-group mb-3" id="timeSetting">
            <input class="form-control" id="timeInput" type="number" placeholder="15" min="0" max="60">
            <span class="input-group-text" id="min">min</span>
            <span class="input-group-text settingBtn" id="start">Start</span>
            <span class="input-group-text settingBtn" id="stop">Stop</span>
            <span class="input-group-text settingBtn" id="restart">Restart</span>
        </div>
        <div id="clockContainer">   <!--타이머-->
            <div id="mainClock">
                <div class="centerCircle" id="centerCircle1"></div>
                <div class="centerCircle" id="centerCircle2"></div>
                <div class="centerCircle" id="centerCircle3"></div>
                <div class="centerCircle" id="centerCircle4"></div>
                <div class="centerCircle" id="timerCircle"></div>
                <div class="centerCircle" id="timerNumber"></div>
            </div>
        </div>
        <footer> <!--타이머 내용기록-->
            <div id="recodes">
                <span>Recodes</span>
                <img src="../image/caret-square-down-regular.svg" class="upDown" id="down"/>
                <img src="../image/caret-square-up-regular.svg" class="upDown" id="up"/>
            </div>
        </footer>
    </div>

</body>
</html>