<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="../index.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a60dfffdc8.js" crossorigin="anonymous"></script>
<script src="../index.js"></script>

<script>
    $(function(){
        $("span#stop").hide();
        $("span#restart").hide();
        $("i#down").hide();
        func_clock();
        func_inputTime();
        $("#recodeRequest").hide();
    })
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container">
        <div id="container2">
            <header>
                <img id="logo" src="../image/logo.png"/>RoseTimer
            </header>
            <div class="input-group mb-3" id="timeSetting">
                <input class="form-control" id="timeInput" type="number" value="15" min="0" max="60" onchange="func_inputTime()">
                <span class="input-group-text" id="min">min</span>
                <span class="input-group-text settingBtn" id="start" onclick="func_start()">Start</span>
                <span class="input-group-text settingBtn" id="stop" onclick="func_stop()">Stop</span>
                <span class="input-group-text settingBtn" id="restart" onclick="func_restart()">Restart</span>
            </div>
            <div id="clockContainer">   <!--타이머-->
                <div id="mainClock">
                    <div class="centerCircle" id="centerCircle1"></div>
                    <div class="centerCircle" id="centerCircle2"></div>
                    <div class="centerCircle" id="centerCircle3"></div>
                    <div class="centerCircle" id="centerCircle4"></div>
                    <div id="timerCircle"></div>   <!--시간변동을 보여주는 모형-->
                </div>
            </div>
        </div>
        <footer> <!--타이머 내용기록-->
            <div id="recodes">
                <span>Recodes</span>
                <i class="fas fa-chevron-down upDown" id="down"></i>
                <i class="fas fa-chevron-up upDown" id="up"></i>
            </div>
            <div id="recodeList">
                <table class="table table-sm">
                    <thead>
                        <th>No.</th>
                        <th>날짜</th>
                        <th>제목</th>
                        <th>타이머시간</th>
                    </thead>
                    <tbody>
                        <tr id="recodeListDetail"></tr>
                    </tbody>
                </table>
            </div>
        </footer>
    </div>

    <div class="modal" id="recodeRequest">  <!--기록저장여부 모달창-->
        <div class="modal-content modal-xs">
            <span class="out" id="closeModal" data-dismiss="modal" onclick="$('#recodeRequest').fadeOut();">X</span>
            <span>설정한 시간이 끝났습니다!<br>기록을 남기려면 아래 제목을 적어주세요.</br></span>
            <div class="input-group mb-3" id="recodeSave">
                <input class="form-control" id="recodeInput" type="text" placeholder="RECODE_01"  onchange="func_recode()">
                <span class="input-group-text" id="recodeBtn" onclick="func_recode()">기록</span>
            </div>
        </div>
    </div>

</body>
</html>